{{=<% %>=}}

<img src="http://localhost/webservice/pluginfile.php/28/coursecat/description/Captura%20de%20tela%20de%202020-08-21%2012-44-27.png?token=3f00b36620df15afc8160f6d33d1fad0&amp;offline=1#moodlemobile-embedded" data-original-src="http://localhost/webservice/pluginfile.php/28/coursecat/description/Captura%20de%20tela%20de%202020-08-21%2012-44-27.png" core-site-plugins-new-content component="block_categoryimage" method="mobile_get_courses_by_category" [args]="{category: 11}" style="width: 100%;">