{{=<% %>=}}

<div id="page-categories">   


    <ion-label class="label label-md ng-star-inserted">    
        <ion-avatar class="item-avatar-center">
            <img core-site-plugins-new-content component="block_categoryimage" method="mobile_get_child_categories" [args]="{category: 11}" src="http://localhost/webservice/pluginfile.php/28/coursecat/description/linguas.jpeg?token=3f00b36620df15afc8160f6d33d1fad0&amp;offline=1#moodlemobile-embedded" data-original-src="http://localhost/webservice/pluginfile.php/28/coursecat/description/linguas.jpeg">
        </ion-avatar>
        <P>Línguas</P>
    </ion-label>

    <ion-label class="label label-md ng-star-inserted">    
        <ion-avatar class="item-avatar-center">
            <img core-site-plugins-new-content component="block_categoryimage" method="mobile_get_child_categories" [args]="{category: 11}" src="http://localhost/webservice/pluginfile.php/628/coursecat/description/educacao.png?token=3f00b36620df15afc8160f6d33d1fad0&amp;offline=1#moodlemobile-embedded" data-original-src="http://localhost/webservice/pluginfile.php/628/coursecat/description/educacao.png">
        </ion-avatar>
        <P>Educação</P>
    </ion-label>
        

    <ion-label class="label label-md ng-star-inserted">    
        <ion-avatar class="item-avatar-center">
            <img core-site-plugins-new-content component="block_categoryimage" method="mobile_get_child_categories" [args]="{category: 11}" src="http://localhost/webservice/pluginfile.php/629/coursecat/description/musica.jpeg?token=3f00b36620df15afc8160f6d33d1fad0&amp;offline=1#moodlemobile-embedded" data-original-src="http://localhost/webservice/pluginfile.php/629/coursecat/description/musica.jpeg">
        </ion-avatar>
        <P>Música</P>
    </ion-label>

    <ion-label class="label label-md ng-star-inserted">    
        <ion-avatar class="item-avatar-center">
            <img core-site-plugins-new-content component="block_categoryimage" method="mobile_get_child_categories" [args]="{category: 11}" src="http://localhost/webservice/pluginfile.php/630/coursecat/description/esporte.jpeg?token=3f00b36620df15afc8160f6d33d1fad0&amp;offline=1#moodlemobile-embedded" data-original-src="http://localhost/webservice/pluginfile.php/630/coursecat/description/esporte.jpeg">
        </ion-avatar>
        <P>Esporte</P>
    </ion-label>

</div>
<div style="text-align:center">
    <button ion-button core-site-plugins-new-content>
        Ver todas as categ
    </button>        
</div>



