<img src="http://localhost/webservice/pluginfile.php/114/user/profile/curso.png?token=3f00b36620df15afc8160f6d33d1fad0&amp;offline=1#moodlemobile-embedded" data-original-src="http://localhost/webservice/pluginfile.php/114/user/profile/curso.png" style="width: 100%">