{{=<% %>=}}

<img src="http://localhost/webservice/pluginfile.php/114/user/profile/professores2.png?token=b2c0c84615de0bce14c9684808b13984&amp;offline=1#moodlemobile-embedded" data-original-src="http://localhost/webservice/pluginfile.php/114/user/profile/professores2.png" core-site-plugins-new-content component="block_categoryimage" method="mobile_get_course_by_id" [args]="{category: 11}" style="width:100%;">